//JAVASCRIPT FRAMEWORKS
//__JQuery from CDN
script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js")
//__Socket.io from CDN
script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js")

//JAVASCRIPT CUSTOM
//__Personal JS File for the actual implementation
script(type='text/javascript', src="/js/index.js")
