h1 {
  font-size: 300px;
}
.hidden {
  display: none;
}
.center {
  text-align: center;
}
html {
  background: url('http://farm4.staticflickr.com/3512/3986098886_b6dbf2dc2f_o.jpg') no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
