include ./includes/header
body
	.row
		.small-12.large-12.columns
			section.splash
				h1
					| Musync

	.test
		audio#sub(src="https://www.filepicker.io/api/file/NYqbbbkSZqYzdsC4NH1a",controls, loop)
			p Not Supp
		button.test-button play
	include ./includes/footer