include ./includes/header

body
	#wrapper.row
		section.splash.large-12.small-12.columns
			.logo.rotating
			//- .logo.inner
			h1 Musync
			h4 A new way to listen to music.
		.large-12.small-12.columns.text-center
			a#createRoom.button Create Room

	include ./includes/footer
