include ./includes/header

body
	div#wrapper.row
		div.large-12.columns.text-center
			input#roomNum.large-12.columns(type='text', placeholder="Room #")
			a#createRoom.button Create Room
	include ./includes/footer
