include ./includes/header

body
<<<<<<< HEAD
	div#wrapper.row
		div.large-12.columns.text-center
			input#roomNum.large-12.columns(type='text', placeholder="Room #")
=======
	#wrapper.row
		section.splash.large-12.small-12.columns
			.logo.rotating
			//- .logo.inner
			h1 Musync
			h4 Some description here
		.large-12.small-12.columns.text-center
>>>>>>> 6a83dbba4039809dd4f13a2ca6dc0ceaa4c4434d
			a#createRoom.button Create Room

	include ./includes/footer
